@using SvitTrainingAndPlacementSystem.Infrastructure;
@using SvitTrainingAndPlacementSystem.Areas.User.Models;
@System.Web.Optimization.Scripts.Render("~/bundles/jquery")
@System.Web.Optimization.Scripts.Render("~/bundles/jqueryval")




@model ForgotpasswordModel
@{
    ViewBag.Title = "password";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<head>
    <title></title>
    <style>
        table {
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;
            border: 1px solid #ddd;
        }

        th, td {
            border: none;
            text-align: left;
            padding: 8px;
        }
    </style>

</head>



<div class="container" style="background-color:white;">
    <h2><center><b>FORGOT PASSWORD</b></center></h2>
    @using (Html.BeginForm("password","Home", FormMethod.Post))
    {

        <table>
            <tr>
                <td colspan="2">
                    @Html.RenderMessages()
                </td>
            </tr>

            <tr>
                <td>Email</td>
                <td>@Html.TextBoxFor(m => m.Email)
                    @Html.ValidationMessageFor(m=>m.Email)
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    <input type="submit" value="Submit">
                </td>
            </tr>

        </table>

    }

</div>

